#define EXTRA_KYOBAINE_BANTER
    {MSGW_Gawen _"Hey Karen, I was just wondering if you could help explain human clothing measurements to Kyobaine here?"}
    {MSGW_Karen _"Oooh, clothes shopping, are we? Got a big date coming up, eh, Kyobaine?"}
    # Since Karen doesn't have a winter portrait (that we're using) yet:
    {MSG_Kyobaine _"What? No! I'm just cold and need a cloak. Actually, for that matter, aren't YOU cold, too? You're almost as exposed to the elements as I am!"}
    {MSGW_Karen _"What? No, I'm not! I've already got my own cloak on! I'm just leaving it behind my back without the hood up because, because, uh... (*<i>looks nervously at Gawen</i>*) ...you know what, never mind! Gawen, could you please leave us alone for a moment so we can have some privacy?"}
    {MSGW_Gawen _"Sure. (*<i>leaves</i>*)"}
    [hide_unit]
        id="Gawen Hagarthen"
    [/hide_unit]
    {MSGW_Karen _"...ok, now that he's gone... yes, for your information, you are correct, I <i>am</i> in fact dressing so that my tits stick out for Gawen to notice. Go ahead, call me a slut or whatever, but it's not like you're any less of one, walking around here without even a bra on under your skimpy robes!"}
    {MSG_Kyobaine _"A... bra? What's that?"}
    {MSG_Karen _"Uh, you know, short for “brassiere”? You know, to hold your breasts up? Do you elves not have them or something?"}
    {MSG_Kyobaine _"Why would we need to hold our breasts up with clothing? They stay up on their own naturally. What, do you human women start to sag without these “bra” items?"}
    {MSG_Karen _"I mean... yeah? Just look at Lorin, for instance."}
    {MSGW_Lorin _"Hey! I heard that! I am <i>not</i> sagging! And who are you to be going and advising people about the wearing of bras, anyways, when you're barely out of a training one yourself?"}
    {MSG_Karen _"Oh hello Lorin, who told you that you could listen in?"}
    {MSG_Kyobaine _"Look, you two, all I wanted was to learn about the sizing of human clothing so that Gawen could buy me something for the winter. If you two are going to fight, however, I don't need to stick around for that."}
    {MSG_Karen _"Wait, Kyobaine, I was still going to do that! Lorin <i>was <b>just leaving, after all</b>...</i>"}
    {MSGW_Lorin _"Hmph. (*<i>struts off</i>*)"}
    [hide_unit]
        id="Lady Lorin"
    [/hide_unit]
    {MSG_Karen _"OK, so, now that she's gone... what type of clothes did you need, anyways?"}
    {MSG_Kyobaine _"I was thinking of just getting a nice robe to throw over my shoulders."}
    {MSG_Karen _"Oh, that's all? You don't even need sizes for those, they're mostly one-size-fits-all. Size info would really only be necessary if you were going to replace your entire robe."}
    {MSG_Kyobaine _"Well, I may do that, too."}
    {MSG_Karen _"Oh, you are? Well I guess maybe we will need your measurements after all, then... here, let's step inside to take them."}
    {MSG_Kyobaine _"All right. (*<i>they step inside</i>*)"}
    {MSG_Karen _"Okay, so, if you're going to be getting new robes, you'll probably also want to try one of those bras I was telling you about, too. They're really not as uncomfortable as other human women might tell you, at least, not if you get a good fit. Well... all right, they might be a <i>little</i> uncomfortable, but at least not as much as those corsets that the ladies of high society wear."}
    {MSG_Kyobaine _"You're not exactly being very convincing here."}
    {MSG_Karen _"It'll make it easier to find your robe size, too! Anyways, Wesnothian humans specify our bra sizes in two parts: the band, and the cup."}
    {MSG_Kyobaine _"The... cup? Do you humans drink out of these articles of clothing? Generally we elves nurse our babies directly from the breast, instead of giving them cups..."}
    {MSG_Karen _"No, silly! Of course we nurse our babies directly from the breast, too! The term “cup” is just an expression."}
    {MSG_Kyobaine _"Finally, a cultural practice we share in common!"}
    {MSG_Karen _"Anyways, back to measurements: Wesnothian women use letters of the alphabet to specify cup size; I currently wear a size “D”. Shall we find out your size now?"}
    {MSG_Kyobaine _"Fine, since you seem so insistent about getting me to wear a bra, I guess I'll give it a try..."}
    {MSG_Karen _"Okay then! (*<i>grabs Kyobaine's boobs</i>*)"}
    {MSG_Kyobaine _"Aieee! Your hands are so cold!"}
    {MSG_Karen _"Hm, about 1 handful apiece... I'd say you're about a “C” cup?"}
    {MSG_Kyobaine _"Fine, fine, just please remove your frozen hands from me!"}
    {MSG_Karen _"All right..."}
    {MSG_Kyobaine _"If taking the rest of these measurements will also involve you putting your hands on me, might you at least go and warm up your hands by the fire first?"}
    {MSG_Karen _"No, we can do the rest of the measurements with this measuring tape! I mean, unless... you'd <i>like</i> for me to use my hands instead?"}
    {MSG_Kyobaine _"Well... how many of these measurement things do we still need to take?"}
    {MSG_Karen _"Four: bust, waist, hips, and inseam."}
    {MSG_Kyobaine _"All right, bust, waist, and hips I can understand, but... inseam? Where would your hands be going for that one?"}
    {MSG_Karen _"They go right... here."}
    {MSG_Kyobaine _"...!"}
    {MSG_Karen _"Do you like the way that feels?"}
    {MSG_Kyobaine _"I... I... eheheh..."}
    {MSG_Karen _"Here, how about you put your hand in the same place on me..."}
    {MSG_Kyobaine _"O...kay then... here I go..."}
    {MSG_Karen _"You ever kiss a human girl before, Kyobaine?"}
    {MSG_Kyobaine _"Well, I can't say I like humans much, but, at least you female ones aren't as hairy as your male ones are..."}
    {MSG_Karen _"That's right, we're not. We actually feel more like... this."}
    {MSG_Kyobaine _"Mmmm..."}
    {MSG_narrator _"Luckily for Karen and Kyobaine, there was a large bed in the lodging they had stepped into."}
    # TODO: ...
    [unhide_unit]
        id="Lady Lorin"
    [/unhide_unit]
    [unhide_unit]
        id="Gawen Hagarthen"
    [/unhide_unit]
#enddef
